body {
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 3.5em;

}
p {
    margin-bottom: 2em;
    color: rgba(47, 241, 255, 0.925);
}
.piscar {
    animation: effect 0.3s linear infinite;
}
@keyframes effect {
    50% {
        color: #fff;
    }
    50% {
        color: greenyellow;
    }
}

.start {
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    
}